@tailwind base;
@tailwind components;
@tailwind utilities;



.active{
    background-color: #9333EA;
    color: white;
}
.home{
    font-weight: bold;
    text-decoration: underline;
    color: white;
}
.others{
    background-color: #f1f1f1;
    font-weight: bold;
    text-decoration: underline;
}